<!DOCTYPE html>
<html lang="de">

<head>
	<title>drtodolittle web prototype</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script src="js/md5.js"></script>
	<script src="js/tdapp.js"></script>
	<link rel="stylesheet" media="all" type="text/css" href="css/tdstyle.css" />
</head>

<body ng-app="tdapp" ng-controller="MainCtrl" ng-keydown="mainKeydown($event);">

<!-- login -->
<center>
<div ng-show="s_login==1" class="login fnt16">
		<div class="fnt32">DrToDoLittle</div>
		<div>&nbsp;</div>
		<input id="liusername" type="text" ng-model="liusername" name="liusername" placeholder="username" class="liuser fnt16" ng-keydown="loginKeydown($event);" tabindex=1></input>
		<input type="password" ng-model="lipass" name="lipass" placeholder="password" class="lipass fnt16" ng-keydown="loginKeydown($event);" tabindex=2></input>
		<div class="libut fnt16" ng-click="dologin();" tabindex=3 ng-keydown="loginKeydown($event);">Login</div>
		<div>&nbsp;</div>
		<div class="fnt12">or</div>
		<div class="libut fnt16" tabindex=4>Login via Twitter</div>
		<div>&nbsp;</div>
		<div class="flash">{{errormsg}}</div>
</div>
</center>

<!-- functions -->
<div ng-show="s_list==1" class="fkts">
<span class="molink fnt12" ng-click="newtodo();">ADD</span> |
<span class="molink fnt12" ng-click="dologout();">LOGOUT</span>
</div>

<!-- log -->
<div ng-show="s_list==1" class="log">
	<div class="fnt10" ng-repeat="logentry in log track by $index">
		<span id="log{{$index}}" style="opacity:{{ $index*0.03125 }}">{{logentry}}</span>
	</div>
</div>

<!-- header/search -->
<center>
<div ng-show="s_list==1" id="header" class="fnt32 header">ToDoS</div>
<div ng-show="s_list==1">
		<input id="searchf" type="text" ng-model="search" name="search" placeholder="search" class="search fnt16" taborder=1></input>
</div>
</center>

<!-- working -->
<center>
<div ng-show="s_working==1" class="fnt16 working">Please wait...</div>
</center>

<!-- add -->
<center>
<div ng-show="s_add==1" class="newtodo">
	<center>
		<div class="fnt16 mb8 tal">NewToDo</div>
		<div>
		<textarea id="todotxta" ng-model="newtodotxt" ng-keydown="newtodoKeydown($event);" class="todota fnt16"></textarea>
		</div>
		<div>&nbsp;</div>
	</center>
</div>
</center>

<!-- list -->
<center>
<div ng-show="s_list==1">
	<table class="todotab">
		<tr ng-repeat="todo in todos" id="todox{{todo.id}}">
			<td class="fnt16 todoline" id="todoline{{todo.id}}" ng-click="seltodoline(todo.id);">
				<span class="fnt10">ID:{{todo.id}}</span>
				<br>
				<span contenteditable="true" ng-keydown="todolineKeydown($event,todo.id);" id="todoid{{todo.id}}" tabindex=-1>{{todo.subject}}</span>
			</td>
			<td class="todofkts">
				<span class="mo" ng-click="togCompleted(todo);">
					<span ng-if="todo.completed==false"><img src="images/checkbox_unchecked.png"/></span>
					<span ng-if="todo.completed==true"><img src="images/checkbox.png"/></span>				
				</span>
				<span class="mo" ng-click="deltodo(todo);"><img src="images/del.png"/></span>
			</td>
		</tr>
	</table>
</div>
</center>

<!-- footer -->
<center>
<div ng-show="s_list==1">&nbsp</div>
</center>

</body>

</html>
