/*

	tdstyle.css

*/
body,div,p,span{
	padding:0px;
	margin:0px;
}

/*
  Fonts ----------------------------------------
*/
.fnt10{
	font-family:arial;
	font-size:10px;
}
.fnt12{
	font-family:arial;
	font-size:12px;
}
.fnt16{
	font-family:arial;
	font-size:16px;
}
.fnt32{
	font-family:arial;
	font-size:32px;
}
.fnt48{
	font-family:arial;
	font-size:48px;
}

/*
  Margins ----------------------------------------
*/
.mt8{
	margin-top:8px;
}
.mt16{
	margin-top:16px;
}
.mb8{
	margin-bottom:8px;
}
.tal{
	text-align:left;
}
.tar{
	text-align:right;
}

/*  
  Misc ----------------------------------------
*/
.header{
	padding:32px;
}
.fkts{
	position:fixed;
	right:0px;
	top:0px;
	padding:4px;
}
.molink:hover{
	cursor:pointer;
	border-bottom:solid 1px;
}
.log{
	position:fixed;
	left:0px;
	bottom:0px;
	padding:8px;
}
.working{
	position:fixed;
	left:25%;
	top:32px;	
	width:50%;
	background-color:#aaaaaa;
	padding:32px;
	border:solid 1px;
	box-shadow: 4px 4px 8px grey;
}
.search{
	background: url(../images/magnifying-glass-2x.png) no-repeat 240px 6px;
	width: 256px;
	padding: 4px;
	margin-bottom:40px;
	border:solid 1px;
	border-color: #aaaaaa;
}
.impressum{
	margin:32px;
	color:#888888;
	text-align:left;
	font-family:arial;
	font-size:10px;
}

/*
  Error ----------------------------------------
*/
@keyframes flash{  
	0% {color:white;}
	50% {color:red;}
	100% {color:white;}
}
@-webkit-keyframes flash{
	0% {color:white;}
	50% {color:red;}
	100% {color:white;}
}
.flash{
	-webkit-animation: flash 1s linear infinite;
	-moz-animation: flash 1s linear infinite;
	animation: flash 1s linear infinite;
}

/*
  Login ----------------------------------------
*/
.login{
	width:320px;
	background-color:#aaaaaa;
	padding:32px;
	margin-top:32px;
	//text-align:left;
	box-shadow: 4px 4px 8px grey;
	border:solid 1px;
}
.liuser{
	background-color:#dddddd;
	resize:none;
	width:16em;
	height:18px;
	padding:4px;
	margin:4px;
}
.lipass{
	background-color:#dddddd;
	resize:none;
	width:16em;
	height:18px;
	padding:4px;
	margin:4px;
}
.libut{
	width:16em;
	background-color:#888888;
	padding:6px;
	margin:4px;
}
.libut:hover{
	cursor:pointer;
	background-color:#dddddd;
}

/*
  ToDoElements ----------------------------------------
*/
.todotab{
	background-color:#ffffff;
	border-spacing: 8px;
}
.todoline{
	border-radius: 15px;
	background-color:#ffff88;
	width:480px;
	padding:16px;
	box-shadow: 4px 4px 8px grey;
}
.todoline:hover{
	background-color:#ffffbb;
	border:solid 0px;
	cursor:pointer;
}
.todofkts{
	vertical-align:top;
}
.newtodo{
	position:fixed;
	width:50%;
	left:25%;
	top:32px;
	//text-align:left;
	padding:16px;
	background-color:#aaaaaa;
	box-shadow: 4px 4px 8px grey;
	border:solid 1px;
}
.todota{
	position:relative;
	background-color:#dddddd;
	resize:none;
	width:90%;
	height:64px;
	padding:4px;
}
.mo:hover{
	cursor:pointer;
}
